.pangju-mb-5 {
    margin-bottom: 5px
}

.pangju-mb-10 {
    margin-bottom: 10px;
}

.pangju-mr-10 {
    margin-right: 10px;
}

.pangju-p-10 {
    padding: 10px;
}

.pangju-w-100 {
    width: 100%;
}

.pangju-h-100 {
    height: 100%;
}

.pangju-wh-100 {
    width: 100%;
    height: 100%;
}

.pangju-h-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.pangju-flex {
    display: flex
}

.pangju-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pangju-flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pangju-no-border {
    border: none;
}

.pangju-cursor-pointer:hover {
    cursor: pointer;
}